@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  background-color: #e5e5e5;
}

* {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 48px;
  margin-left: 6px;
  margin-top: -7px;
  gap: 38%;
}

.logo {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #6070ff;
  width: 100%;
  height: 20px;
  text-decoration: none;
  align-items: center;
  margin-left: 5%;
  margin-top: 2%;
}

.ambony {
  margin-right: 15%;
  margin-top: 2%;
}

.humbourger {
  height: 12px;
  width: 18px;
  color: rgba(96, 112, 255, 1);
}

.app-header {
  align-items: center;
  background-image: url("media/header-image.png");
  background-color: rebeccapurple;
  background-size: cover;
  width: 100%;
  height: 48px;
}

.menu {
  display: none !important;
}

.header-ambony {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  background-image: url(media/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  top: 2.875rem;
  border-bottom-left-radius: 60px;
  height: 44.88rem;
}

.narson {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.3700000047683716px;
  align-items: center;
  width: 327px;
  height: 9.37rem;
  margin: 20px;
  color: #091e42;
  font-style: bold;
  order: 0;
}

.detail {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  text-align: left;
  color: rgba(52, 69, 99, 1);
  margin: 0 20px;
  width: 327px;
  height: 146px;
  order: 1;
}

.connection {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 20px;
  order: 2;
  line-height: 24px;
  color: #7f8cff;
  flex-grow: 0;
  overflow-x: hidden;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: none;
  flex-grow: 0;
  list-style: none;
  width: 10.636rem;
  margin-left: -25px;
  margin-top: 1px;
  gap: 8px;
  order: 3;
}

.twitter:hover,
.linkindin:hover,
.github:hover,
.medium:hover,
.angellist:hover {
  color: #505f79;
  opacity: 0.5;
}

/* Work Section */
.work {
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: 33.333%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  width: 327px;
  height: 552px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6px;
  margin-bottom: 60%;
}

.sary {
  width: calc(100% + 32px);
  height: 220px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: -2rem;
}

.card-tittle {
  width: 295px;
  height: 36px;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#fb-title {
  margin-left: 2rem;
}

#fb-info {
  margin-left: 2rem;
  margin-top: 0.1rem;
}

.frame2-img {
  width: 236px;
  height: 32px;
  padding: 0.5rem;
  margin-top: -0.9px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: -0.2px;
}

.frame3-img {
  display: flex;
  align-items: center;
}

.project-info {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 16px;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  order: 2;
}

ul.project-info li {
  list-style-type: none;
  position: relative; /* make the li element a positioned ancestor */
  padding-right: 20px;
  white-space: nowrap;
}

ul.project-info li:not(:first-child)::before {
  content: "\2022";
  font-size: 40px;
  position: absolute;
  left: -1.5rem;
  top: 0;
}

.fb {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #3b5998;
}

.full {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b778c;
}

.year {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b778c;
}

.description {
  width: 295px;
  height: 50px;
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  flex: none;
  flex-grow: 0;
  color: #344563;
}

ul.languages-list li {
  white-space: nowrap;
}

.languages-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 20px;
  list-style: none;
  order: 2;
  margin-top: 3rem;
  margin-bottom: 0;
  margin-left: -0.01rem;
  margin-right: 0;
}

#back-list {
  margin-top: 4rem;
  margin-left: 2rem;
}

#fd-buttons {
  margin-top: 1.5rem;
  margin-left: 2rem;
}

#description-fb {
  margin-left: 2rem;
}

.html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 32%;
  height: 24px;
  background: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.ruby {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 60%;
  height: 24px;
  background: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 30%;
  height: 24px;
  background: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.javascript {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 50%;
  height: 24px;
  background: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.buttons {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  background-color: #fff;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  color: #396df2;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  height: 48px;
  width: 127.04px;
  bottom: 10px;
  margin-left: 0.2rem;
  margin-top: 2rem;
  padding: 0;
  gap: 10px;
  letter-spacing: 0.48px;
  line-height: 24px;
}

.buttons:hover {
  background-color: #6070ff;
  color: #fff;
}

.buttons:active {
  background-color: #2230d2;
  color: #fff;
}

/* About myself section */
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 60px;
  width: 370px;
  height: 1150px;
  background: #fff;
  gap: 12px;
  margin: 96px 6px 6px 6px;
  margin-top: -18%;
}

.about-text {
  display: flex;
  height: 35px;
  width: 327px;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  align-items: center;
  flex: none;
  flex-grow: 0;
  color: #172b4d;
}

.summary {
  width: 327px;
  height: 144px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: -15px;
  padding-top: 1px;
  flex: none;
  flex-grow: 0;
  color: #344563;
}

.connection2 {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  margin-left: 0.1rem;
  margin-right: 109px;
  padding-top: 1.5rem;
  margin-top: -20px;
  line-height: 24px;
  flex-grow: 0;
  overflow-x: hidden;
  color: #7f8cff;
}

.social2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: none;
  flex-grow: 0;
  list-style: none;
  width: 10.636rem;
  margin-left: -2.8rem;
  margin-right: 30px;
  margin-top: 1rem;
  gap: 8px;
}

.buttons2 {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  width: 165px;
  height: 54px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #6070ff;
  background-color: #fff;
  border-radius: 8px;
  bottom: 10px;
  margin-left: 0.2rem;
  margin-right: -25px;
  margin-top: 1.5rem;
  padding: 12px;
  gap: 10px;
  color: #396df2;
}

.buttons2:hover {
  background-color: #6070ff;
  color: #fff;
}

.buttons2:active {
  background-color: #2230d2;
  color: #fff;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  gap: 12px;
  margin-top: 40px;
}

.languages {
  display: flex;
  align-items: center;
  height: 24px;
  left: 12px;
  right: 78px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: -130px;
  margin-right: 70px;
}

.down-arrow {
  position: absolute;
  margin-top: 30px;
  margin-right: -70px;
  margin-left: 200px;
  color: #5e6c84;
}

.languages-container {
  display: flex;
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
}

.languages-list2 {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  list-style-type: none;
  gap: 7px;
  margin-left: -5.5rem;
}

.javascript2 {
  flex: none;
  flex-grow: 0;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-left: 40px;
}

.js-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  margin-left: 10px;
  width: 48px;
  height: 48px;
}

.js-text {
  display: flex;
  align-items: center;
  position: absolute;
  height: 24px;
  margin-left: 70px;
  margin-top: -35px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.html2 {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  flex-grow: 0;
  margin-top: 8px;
  margin-left: 40px;
}

.html-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  width: 48px;
  height: 48px;
  margin-left: 10px;
}

.html-text {
  display: flex;
  position: absolute;
  align-items: center;
  height: 24px;
  margin-left: 70px;
  margin-top: -35px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.css2 {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 8px;
  margin-left: 40px;
  flex: none;
  flex-grow: 0;
}

.css-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  margin-left: 10px;
  width: 48px;
  height: 48px;
}

.css-text {
  display: flex;
  position: absolute;
  align-items: center;
  height: 24px;
  line-height: 20px;
  margin-left: 70px;
  margin-top: -35px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
}

.frameworks {
  width: 327px;
  height: 72px;
  list-style-type: none;
}

.frameworks-text {
  display: flex;
  position: absolute;
  align-items: center;
  height: 24px;
  left: 50px;
  right: 78px;
  margin-top: -1px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: -12px;
}

.right-arrow {
  margin-top: 3px;
  margin-left: 275px;
  color: #5e6c84;
}

.right-arrow2 {
  margin-top: 3px;
  margin-left: 275px;
  color: #5e6c84;
}

.separator-bottom {
  margin-left: -4%;
}

.separarot-bottom4 {
  margin-left: -4%;
}

.skills {
  width: 327px;
  height: 72px;
  list-style-type: none;
}

.skills-text {
  display: flex;
  position: absolute;
  align-items: center;
  height: 24px;
  left: 50px;
  right: 78px;
  margin-top: -1px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: -12px;
}

/* contact me */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 48rem;
  width: 375px;
  border-top-left-radius: 60px;
  background-image: url("media/header-shapes\ mobile@2x.svg");
  background-size: cover;
  background-color: #6070ff;
  margin-top: 20%;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-me {
  height: 56px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  padding-top: 109px;
}

.contact-text {
  width: 327px;
  left: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-top: -20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -39px;
}

ul {
  list-style-type: none;
}

#name {
  display: flex;
  height: 40px;
  width: 305px;
  padding-left: 20px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
  color: #172b4d;
}

#email {
  display: flex;
  height: 40px;
  width: 305px;
  padding-left: 20px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
  color: #172b4d;
}

#text {
  display: flex;
  height: 160px;
  width: 305px;
  border-radius: 8px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #172d4d;
}

#contact-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  width: 150px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  padding: 12px 16px 12px 16px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-top: -20px;
}

#contact-submit:hover {
  background-color: #6070ff;
  font-size: 18px;
  color: #fff;
}

#contact-submit:active {
  background-color: #2230d2;
  font-size: 18px;
  color: #fff;
}

/* Desktop version */
@media screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #e5e5e5;
  }

  .logo {
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
    background-color: transparent;
    margin-left: 10%;
    margin-top: 2%;
    transition: width 2s, height 2s, background-color 2s, rotate 2s;
    rotate: 360deg;
  }

  .app-header {
    display: flex;
    position: fixed;
  }

  .humburger {
    display: none !important;
  }

  .ambony {
    width: auto;
    margin-right: 5%;
  }

  .menu {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
  }

  .menu-item {
    margin-right: 20px;
  }

  .menu-item a {
    display: flex;
    font-size: 1rem;
    color: #344563;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  .header-ambony {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-left: 10%;
    background-color: #fff;
    background-image: url(media/Header\ bg.svg);
    background-size: cover;
    top: 2.875rem;
    border-bottom-left-radius: 60px;
    height: 44.88rem;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 5%;
  }

  .narson {
    width: 100%;
  }

  .detail {
    height: 98px;
    width: 55%;
    left: 0;
    top: 134px;
  }

  .connection {
    margin-top: -1px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #7f8cff;
  }

  /* work section */

  .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin: 5% 0 0 5%;
    border-radius: 24px;
    background-color: #e5e5e5;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #dfe1e6;
    margin-top: 5%;
    height: 60vh;
    width: 100%;
    border-radius: 24px;
    margin-bottom: 5%;
  }

  img.sary:hover {
    transition: 400ms ease;
    transform: scale(1.1);
  }

  .sary {
    width: 50%;
    height: 100%;
    border-radius: 8px;
  }

  .faha2 {
    order: 2;
  }

  .work-fonony {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8rem;
    width: 50%;
    margin-top: 10rem;
  }

  .card-tittle {
    margin-top: -15rem;
    margin-left: -5.5rem;
  }

  .frame2-img {
    margin-top: -1rem;
    margin-left: -5.7rem;
  }

  .frame3-img {
    display: flex;
    align-items: center;
  }

  .project-info {
    list-style: none;
    display: flex;
    width: 66%;
    font-size: 16px;
    margin-top: -5rem;
    font-weight: bold;
    flex-direction: row;
    gap: 8px;
    order: 2;
    margin-left: -5.5rem;
  }

  ul.project-info li {
    list-style-type: none;
    position: relative;
    white-space: nowrap;
  }

  ul.project-info li:not(:first-child)::before {
    content: "\2022";
    font-size: 40px;
    position: absolute;
  }

  .fb {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #3b5998;
  }

  .full {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #6b778c;
  }

  .year {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #6b778c;
  }

  #fb-title {
    margin-top: -15rem;
    margin-left: -5rem;
  }

  #fb-info {
    list-style: none;
    display: flex;
    margin: 0;
    width: 60%;
    font-size: 16px;
    margin-left: -5rem;
    margin-top: -6rem;
    margin-bottom: 1rem;
    font-weight: bold;
    flex-direction: row;
    gap: 8px;
    order: 2;
  }

  #back-list {
    margin-left: -5.3rem;
    margin-top: -11rem;
  }

  #fd-buttons {
    margin-left: -5.4rem;
    background-color: #396df2;
    color: #fff;
  }

  #fd-buttons:hover {
    background-color: #fff;
    color: #396df2;
  }

  #description-fb {
    display: flex;
    margin-top: -4rem;
    width: 100%;
    margin-left: -5.3rem;
  }

  .description {
    display: flex;
    margin-top: -5rem;
    width: 100%;
    margin-left: -5.3rem;
  }

  ul.languages-list li {
    white-space: nowrap;
  }

  /* i tried to fix space between description and languages-lis but it doesn't work */
  .languages-list {
    margin-left: -5.3rem;
    margin-top: -9.5rem;
  }

  .buttons {
    margin-left: -5.4rem;
    margin-top: 3rem;
    background-color: #fff;
    color: #396df2;
  }

  /* About section */

  .about-me {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    height: 750px;
    padding: 20px 14px 0 16px;
    margin-top: 5%;
    border-top-right-radius: 80px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
    margin-top: -10%;
  }

  .about-text {
    display: flex;
    white-space: nowrap;
    margin-left: 10%;
    width: 100%;
  }

  .summary {
    display: flex;
    margin-left: 10%;
    margin-top: -1.5rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 35vw;
    height: 30vh;
  }

  .connection2 {
    margin-left: 10%;
    margin-top: -20%;
  }

  .social2 {
    margin-left: 0.5rem;
    margin-top: 2%;
    width: 45%;
  }

  .buttons2 {
    margin-left: 10%;
    margin-top: 2%;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    margin-top: -8%;
    width: 50vw;
    height: 60vh;
    margin-left: 2rem;
  }

  .down-arrow {
    margin-left: 35rem;
  }

  .languages-container {
    display: flex;
    flex-direction: row;
    margin-left: -20rem;
  }

  .languages {
    margin-left: -18.5rem;
  }

  .languages-list2 {
    display: flex;
    flex-direction: row;
    margin-left: -1rem;
    padding-bottom: 3rem;
    margin-top: -5rem;
  }

  ul.languages-list2 li {
    margin-right: -2rem;
  }

  .javascript2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 8rem;
  }

  .js-logo {
    height: 4.5rem;
    width: 4.4rem;
  }

  .js-text {
    align-self: center;
    margin-top: 5.6rem;
    margin-left: -1.5rem;
  }

  .html2 {
    display: flex;
    flex-direction: column;
    margin-top: -0.1rem;
    width: 50%;
    height: 8rem;
  }

  .html-logo {
    height: 4.5rem;
    width: 4.4rem;
  }

  .html-text {
    align-self: center;
    margin-top: 5.8rem;
    margin-left: -2.69rem;
  }

  .css2 {
    display: flex;
    flex-direction: column;
    margin-top: 0.021rem;
    width: 50%;
    height: 8rem;
  }

  .css-logo {
    height: 4.5rem;
    width: 4.4rem;
  }

  .css-text {
    align-self: center;
    margin-top: 5.5rem;
    margin-left: -3.4rem;
  }

  .frameworks-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 9.5rem;
    margin-top: 5rem;
  }

  .right-arrow {
    display: flex;
    margin-left: 17rem;
    margin-top: 6.4rem;
  }

  .right-arrow2 {
    margin-left: -4rem;
    margin-top: 11rem;
  }

  .separator-bottom {
    margin-left: -36rem;
    margin-top: 10%;
  }

  .skills-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 4.5rem;
    margin-top: 9.7rem;
  }

  .separator-bottom4 {
    display: flex;
    margin-left: -18.5rem;
    margin-top: 5%;
  }

  /* contact section */

  .contact-form {
    width: 100%;
    background-size: cover;
    background-image: url(media/contact-form-background.svg);
    margin-top: -3%;
  }

  .contact-container {
    width: 100%;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 102px;
    top: 68px;
  }

  .contact-list {
    width: 100%;
  }

  #name {
    width: 27rem;
    border-radius: 0;
  }

  #email {
    width: 27rem;
    border-radius: 0;
  }

  #text {
    width: 27rem;
    border-radius: 0;
  }

  #contact-submit {
    margin-left: 25%;
    width: 32%;
    height: 50px;
    margin-top: -10px;
  }

  #contact-submit:hover {
    background-color: #2230d2;
  }
}
